* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABILI */
:root {
  --bg: #0f172a;
  --card: #111827;
  --text: #e5e7eb;
  --accent: #3b82f6;
  --muted: #9ca3af;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  background: var(--bg);
  color: var(--text);
  padding: 16px;
}

h1 {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
}

.app-title {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.5px;

  background: linear-gradient(90deg, #3b82f6, #60a5fa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  margin-bottom: 20px;
  transition: transform 0.2s ease;
}

.app-title:hover {
  transform: scale(1.05);
}

/* CONTAINER */
#news {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card {
  background: linear-gradient(145deg, #111827, #0b1220);
  padding: 18px;
  border-radius: 16px;

  border: 1px solid rgba(255, 255, 255, 0.05);

  box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.25),
    inset 0 1px 0 rgba(255, 255, 255, 0.03);

  transition: all 0.25s ease;

  position: relative;
  overflow: hidden;

  animation: fadeInUp 0.4s ease;
}

.card:hover {
  transform: translateY(-4px) scale(1.01);

  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.46),          
    0 0 0 1px rgba(59, 131, 246, 0.503),      
    0 0 25px rgba(255, 255, 255, 0.578);
}

.card h2 {
  font-size: 17px;
  line-height: 1.4;
  margin-bottom: 10px;
  font-weight: 600;
}

.card a {
  display: inline-block;
  margin-top: 6px;

  color: #60a5fa;
  font-size: 14px;

  opacity: 0.9;
}

.card a:hover {
  opacity: 1;
}

.card p {
  font-size: 12px;
  color: #9ca3af;
  margin-top: 10px;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

/* BOOKMARK */
.bookmark {
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.2s ease;
}

.bookmark:hover {
  opacity: 1;
  transform: scale(1.2);
}

.bookmark.active {
  opacity: 1;
  transform: scale(1.2);
  color: gold;
}

button {
  margin-top: 20px;
  padding: 14px;
  border: none;
  border-radius: 12px;
  background: var(--accent);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s ease;
}

button:hover {
  background: #2563eb;
}

/* ANIMAZIONI */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* DESKTOP */
@media (min-width: 768px) {
  body {
    max-width: 700px;
    margin: auto;
  }
}